.game{
   display: none;
}
h3 {
   font-style: oblique;
   font-size: 60px;
   font-weight: bold;
   font-family: cursive;
   font-stretch: ultra-condensed;
   color: #228B22;

}
body {
   background-image: url(../img/image.jpg);
   background-repeat: no-repeat;
   background-size: cover;


}
h4 {
   font-size: 30px;
   color: #008B8B;
}

li {
   font-size: 20px;
   color: #5F9EA0;

}
p {
   font-size: 20px;
   color: #228B22;
   font-weight: bold;
}
.form-group {
   font-size: 20px;
}
